<!DOCTYPE html>
<html>
<head> <% include partials/template/head.ejs %></head>

<body>
	<% include partials/template/header.ejs %>

	<section class = "layout">
		<div class = "primary">
			<div>
				<br>
				<% mysql.forEach(function(item) { %>
					<h3><%=item.title %></h3>
					<br>
					<ul><img src = "<%=item.poster%>" alt="poster" height="250" width="300"/> </ul>
					<ul><strong>Rating: </strong> <%=item.rating %></ul>
					<ul>Genres: <%=item.genres %></ul>
					<ul>Overview: <%=item.overview %></ul>
					<br>
				<% }) %>
				<h4> The following are Bing search results: </h4>

			</div>
		</div>  <!--primary -->


    	<div class = "secondary">
    		<% include partials/content/genre.ejs %>
    		<% include partials/content/inTheater.ejs %>
    	</div> <!--secondary-->	
    
    </section>  <!--layout section -->

	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefault.ejs %>

</body>
</html>